* {
	margin: 0;
	padding: 0;
  }

  
  body {
	max-width: 100%;
	max-height: 100vh;
	justify-content: center;
	height: 90%;
	background:rgb(255, 255, 255);
  }


  a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: 0.3s;
  }
  
  a:hover {
	opacity: 0.7;
  }
  
  .logo {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
  }
  
  nav {
    max-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Mulish', sans-serif;
	background: #ffd700;
	height: 8vh;
  }
  
  main {
	max-height: 100%;
	background-size: cover;
	background-color: rgb(255, 255, 255);
	height: 92vh;
	font-family: 'Mulish', sans-serif;
    
  }

  .social{
	  position: relative;
	  top: -350px;
	  left: 85%;
	  font-size: 50px;
	  padding: 5px;
	  vertical-align: middle;
	  display: table;
	  color: #a9a9a9;
  }

  .nav-list {
	list-style: none;
	display: flex;
  }
  
  .nav-list li {
	letter-spacing: 3px;
	margin-left: 25px;
  }
  
  .mobile-menu {
	display: none;
	cursor: pointer;
  }
  
  .mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
  }
  
  @media (max-width: 999px) {
	body {
	  overflow-x: hidden;
	}
	.nav-list {
      max-width: 100%;		
	  position: absolute;
	  top: 8vh;
	  right: 0;
	  width: 50vw;
	  height: 92vh;
	  background: #ffd700;
	  flex-direction: column;
	  align-items: center;
	  justify-content: space-around;
	  transform: translateX(100%);
	  transition: transform 0.3s ease-in;
	}
	.nav-list li {
	  margin-left: 0;
	  opacity: 0;
	}
	.mobile-menu {
	  display: block;
	}
  }
  
  .nav-list.active {
	transform: translateX(0);
  }
  
  @keyframes navLinkFade {
	from {
	  opacity: 0;
	  transform: translateX(50px);
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  .mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
	opacity: 0;
  }
  
  .mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
  }

  .dark-svg{
	  left: -120px;
	  display: none;
  }

  .sub-t{
	color: #a9a9a9; 
	font-size: 40px;
	position: relative;
	top: 30%;
	left: 40%;
  }

  .sub-t2{
	  width: 300px;
	  text-align: center;
	  color: white;
	  background: #ffd700;
	 
	  
  }

  .line{
	border-right: 2px solid rgb(0, 0, 0);
	color: #a9a9a9;
	font-family: 'Mulish', sans-serif;
	font-size: 40px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	align-items: auto;
	position: absolute;
	top: 30%;
	left: 40%;
  }

  .typing-animation {
	animation: blinkCursor 500ms steps(60) infinite normal,
	  typing 2s steps(60) 1s normal both;
  }

  @keyframes typing {
	from {
	  width: 0;
	}
	to {
	  width: 7em;
	}
  }

  @keyframes blinkCursor {
	from {
	  border-right-color: rgb(0, 0, 0);
	}
	to {
	  border-right-color: transparent;
	}
  }

  .sb{
	font-family: 'Mulish', sans-serif;
	padding: 70px 1px ; 
  }

  .conh{
	font-family: 'Mulish', sans-serif;
  }

  .skill{ 
    background-color:#fff; 
	color: #a9a9a9;
  }

  .conh-css{
      color: #00aeffcc;
  }

  .conh-html{
	  color: #ffd700;
  }

  .conh-node{
    color: rgb(125, 184, 37);  
}

  .kill{
	  max-height: 100%;
	  width: 200px;
	  height: 250px;
	  border: none;
	  padding: 20px 30px;
	  padding-top: 30px;
	  text-align: center;
	  display: inline-block;
	  border-radius: 5px;
	  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .emojicon img{
	  width: 350px;
	  position: relative;
	  top: 14%;
	  left: 7%;
  }

  svg{
	  max-height: 100%;
	  width: 700px;
	  height: 600px;
	  position: absolute ;
      left: -5%;
	  top: 10%;
	}

@media (min-width:911px) and (max-width:1300px){
		
	body{
		    padding: 0%;
			margin: 0%;
			max-width: 100%;
			max-width: 100%;
		}
		svg{
			width: 350px;
			top: -70px;
			left: 5%;
		}

		.dark-svg{
			left: -20px ;
		}

		.emojicon img{
			width: 250px;
			top: -50px;
		}

		 main .line {
			top: 67%;
			left: 10%;
			font-size: 25px;
		}

		main .sub-t{
			top: 70%;
			left: 10%;
		    font-size: 25px;
		}

		section .trab{
			  color: rgb(255, 255, 255);
              top: 2600px;
			  font-size: 40px;
		}

		section slider{
			top: 2700px;
			width: 90%;
			height: 60%;
			left: 20px;
		}

		footer .cont{
              padding:30px 10px;
			  font-size: 13px;
		}

	}



	@media (min-width:644px) and (max-width:910px){
		body{
			max-width: 100%;
			max-width: 100%;
		}
		svg{
			width: 350px;
			top: -70px;
			left: 5%;
		}

		.dark-svg{
			left: -20px ;
		}

		.emojicon img{
			width: 250px;
			top: -50px;
		}

		 main .line {
			top: 67%;
			left: 10%;
			font-size: 25px;
		}

		main .sub-t{
			top: 70%;
			left: 10%;
		    font-size: 25px;
		}

		section .trab{
			  color: rgb(255, 255, 255);
              top: 2900px;
			  font-size: 40px;
		}

		section slider{
			top: 3000px;
			width: 90%;
			height: 60%;
			left: 20px;
		}

		footer .cont{
              padding:30px 10px;
			  font-size: 13px;
		}

		.form-e{
			left: 30%;
		}

	}

	@media (min-width: 461px) and (max-width: 644px){
		body{
			max-width: 100%;
			max-width: 100%;
		}
		svg{
			width: 350px;
			top: -70px;
		}

		.dark-svg{
			left: -20px ;
		}


		.emojicon img{
			width: 250px;
			top: -50px;
		}

		 main .line {
			top: 67%;
			left: 10%;
			font-size: 25px;
		}

		main .sub-t{
			top: 70%;
			left: 10%;
		    font-size: 25px;
		}

		section .trab{
			  color: rgb(255, 255, 255);
                           top: 3700px;
			  font-size: 40px;
		}

		section slider{
			top: 3800px;
			width: 93%;
			left: 20px;
		}

		footer .cont{
              padding:30px 10px;
			  font-size: 13px;
		}

		footer .form-e{
			left: 20px ;
		}
	}

	@media (min-width:200px) and (max-width: 460px){
	 
		body{
			max-width: 100%;
			max-width: 100%;
		}

		svg{
			width: 250px;
			top: -77px;
		}

		main .social{
			font-size: 30px;
			top: -40%;
		}

		.sb{
			font-size: 30px;
		}

		.sobre{
			background-color: blue solid;
			color: #6d4702;
		}

		.conh{
		   font-size: 30px;
		}

	    .trabalhos .trab{
			color: rgb(0, 0, 0);
			top: 3900px;
			font-size: 30px;
		}

		.trabalhos slider{
			top: 4000px;
			width: 93%;
			left: 10px;
		}

		.dark-svg{
			left: -20px ;
		}


		.emojicon img{
			width: 170px;
			top: -30px;
		}

		main .line {
			top: 70%;
			left: 10%;
			font-size: 20px;
		}

		main .sub-t{
			top: 70%;
			left: 10%;
			font-size: 17px;
		}

		.sub-t2{
			font-size: 17px;
			left: -10%;
		}


		footer .cont{
			padding:30px 10px;
			font-size: 13px;
		}

		footer .form-e{
			left: -55px ;
		}
	}

	section{
		max-height: 100%;
		background-color: #ffd700;
		padding: 200px 50px;
		text-align: center;
		font-family: 'Mulish', sans-serif;
        color: white;
		font-size: 30px;
		
	}

	.trabalhos{
		padding: 300px 100px;
	}

	.trab{
		font-family: 'Mulish', sans-serif;
		left: 37%;
		text-align: center;
		top: 2590px;
		position: absolute;
	}

	slider{
		display: block;
		width: 50%;
		height: 50%;
		top: 2700px;
		left: 20%;
		background-color: #ffd700;
		overflow: hidden;
		position: absolute;
		border-radius: 10px;
	}

	slider > *{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background: #fff;
		animation: slide 9s infinite;
		overflow:hidden;
	}

	slide:nth-child(1){
		left: 0%;
		animation-delay: -1s;
		background-image: url(pizza.jpeg) ;
		background-size: cover;
		background-position: center;
	}

	slide:nth-child(2){
		animation-delay: 2s;
		background-image: url(viagem.jpeg) ;
		background-size: cover;
		background-position: center;
	}

	slide:nth-child(3){
		animation-delay: 5s;
		background-image: url(turismo.jpeg) ;
		background-size: cover;
		background-position: center;
	}

	slide:nth-child(4){
		
		animation-delay: 8s;
		background-image: url(pizza.jpeg) ;
		background-size: cover;
		background-position: center;
	}

	slide p{
		font-family: 'Mulish', sans-serif;
		font-size: 50px;
		text-align: center;
		display: inline-block;
		width: 100%;
		margin-top: 380px;
		color: #fff;
	}

	@keyframes slide{
		0%{
			left: 100%; width: 100%;
		}
		5%{
			left: 0%;
		}
		25%{
            left: 0%;
		}
		30%{
			left: -100%; width: 100%;
		}
		30.0001%{
			left: -100%; width: 0%;
		}
		100%{
			left: 100%; width: 0%;
		}
	}

	.rodape{
		background-color: white;
		font-family: 'Mulish', sans-serif;
		padding: 150px 50px;
		text-align: center;
	}

	.cont{
		color: black;
		padding: 50px;
	}

	.git:hover{
		color: #6d4702;
	}

	.insta:hover{
		color: rgb(226, 43, 165);
	}

	.whats:hover{
		color: rgb(17, 194, 17);
	}

	.link:hover{
		color: rgb(23, 88, 230);
	}

	.botom-whats{
		background: rgb(17, 194, 17);
		width: 50px;
		color: white;
		height: 50px;
		border-radius: 20px;
		position: fixed;
        bottom: 40px;
		right: 10px;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
		font-size: 30px;
	}

	.botom-top{
		background: #ffd700;
		width: 50px;
		color: white;
		height: 50px;
		border-radius: 20px;
		position: fixed;
        bottom: 40px;
		right: 80px;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
		font-size: 20px;
	}
	

	.switch {
		left: 50px;
		position: relative;
		display: inline-block;
		width: 50px;
		height: 24px;
		
	  }
	  .switch input {
		display: none;
	  }
	  .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ccc;
		border-radius: 34px;
		transition: .4s;
	  }
	  .slider:before {
		content: "";
		position: absolute;
		height: 16px;
		width: 15px;
		left: 4px;
		bottom: 4px;
		background: rgb(255, 255, 255);
		border-radius: 50%;
		transition: .4s;
	  }
	  input:checked + .slider {
		background: #313030;
	  }
	  input:checked + .slider:before {
		transform: translateX(26px);
	  }

	.dark h1 {
		font-family: 'Mulish', sans-serif;
		font-size: 15px;
		color: white;
	}

	.dark-mode nav {
      background: rgb(255, 136, 0);
	}

	.dark-mode .nav-list{
	  background: rgb(255, 136, 0);
	}

	.dark-mode .social {
		color: whitesmoke;
	}

	.dark-mode main {
		background: #313030;
	  }

	  .dark-mode .light-svg{
		  display: none;
	  }

	  .dark-mode .dark-svg{
		  display: inline;
	  }

	  .dark-mode h1 {
		font-family: 'Mulish', sans-serif;
		color: whitesmoke;
	  }

	  .dark-mode h2 {
		color: whitesmoke;
	  }

	  .dark-mode .sub-t2{
		  background: rgb(255, 136, 0);
		  color: whitesmoke;
	  }

	  .dark-mode .sobre{
		background: rgb(255, 136, 0);
		color: whitesmoke;
	}

	.dark-mode .skill{
		background: #313030;
		color: whitesmoke;
	}
    
	.dark-mode .trabalhos{
		background: rgb(255, 136, 0);
		color: whitesmoke;
	}

	.dark-mode slider{
		background-color: rgb(255, 136, 0);
	}

	.dark-mode .rodape{
		background: #313030;
		color: whitesmoke;
	}

	.dark-mode .cont{
		color: whitesmoke;
	}

	.dark-mode .botom-top{
		background-color: rgb(255, 136, 0);
	}

	.dark-mode .form-e{
		color: whitesmoke;
	}

	.dark-mode input{
		color: #a9a9a9;
	}

	.form-e{
		width: 300px;
		height: 400px;
		left: 40%;
		position: relative;
	}

	.menssage{
		width: 200px;
	}

	.form-group {
		width: 300px;
		margin-top: 20px;
		font-size: 20px;
		left: 500px;
	  }
	  .form-group input,
	  .form-group textarea {
		width: 300px;
		padding: 5px;
		font-size: 18px;
		border: 1px solid rgba(128, 128, 128, 0.199);
		margin-top: 5px;
	  }
	  
	  textarea {
		resize: vertical;
	  }
	  button[type="submit"] {
		width: 300px;
		border: none;
		outline: none;
		padding: 20px;
		font-size: 24px;
		border-radius: 8px;
		font-family: 'Mulish', sans-serif;
		color: #ffd700;
		text-align: center;
		cursor: pointer;
		margin-top: 10px;
		transition: 0.3s ease background-color;
	  }
	  button[type="submit"]:hover {
		background-color: rgb(126, 131, 134);
	  }
	  #status {
		width: 190px;
		max-width: 500px;
		text-align: center;
		padding: 7px;
		margin: 0 auto;
	  }
	  #status.success {
		background-color: rgb(211, 250, 153);
		animation: status 4s ease forwards;
	  }
	  #status.error {
		background-color: rgb(250, 129, 92);
		color: white;
		animation: status 4s ease forwards;
	  }
	  @keyframes status {
		0% {
		  opacity: 1;
		  pointer-events: all;
		}
		90% {
		  opacity: 1;
		  pointer-events: all;
		}
		100% {
		  opacity: 0;
		  pointer-events: none;
		}
	  }

	  .c{
		  color: #ffd700;
	  }
	  
